# 各領域で利用する Google Project 情報
PROJECT_ID_RAW_DATA=
PROJECT_ID_MART_RED=
PROJECT_ID_MART_BLUE=
LOCATION_RAW_DATA=asia-northeast1
LOCATION_MART_RED=asia-northeast1
LOCATION_MART_BLUE=asia-northeast1

# 環境情報
ENVIRONMENT=dev

# クラウド上リソース作成時に利用する suffix
SUFFIX=sample
